<html>
  <head>
    <title>Lin's Alterations</title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Lin's Alterations</h1>

      <div id="location">
	<h2>Location</h2>
	<p>You can find us at... </p>
	<p>10 Hillsdown Avenue<br>
	  London
	</p>
	<p>Include a embedded Google Maps Here</p>
      </div>
      
      <div id="opening hours">
	<h2>Opening Hours</h2>
      </div>
      
      <div id="prices">
	<h2>Prices</h2>
      </div>
      
      <div id="contact">
	<h2>Contact</h2>
	<h3>Phone</h3>
	<h3>Email</h3>
      </div>
    </div>
  </body>
</html>
